*.a
*.cache
*.gz
*.la
*.lo
*.log
*.o
*.so
*.status
*.sw?
*.tab
*~
.*.sw?
.deps
.libs
/Makefile
/bm-font-import
/bm-font-render
/config.h
/config.h.in
/configure
Makefile
Makefile.in
aclocal.m4
configure
depcomp
install-sh
libtool
missing
stamp-h1
